body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding-top: 10px;
    width: 90%;
    margin: auto;
}

select {
    font-size: large;
    max-height: 40px;
}

.save-button-container {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bolder;
}

.save-button {
    background-color: #f2f2f2;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.hidden {
    display: none;
}

.card,
.table-container {
    padding: 10px;
    margin-bottom: 10px;
}

.termine-zelle {
    padding: 0px;
}

.termine-tabelle {
    border: none;
    vertical-align: top;
}

.card-heading{
    font-weight: bold;
    height: 36px;
}

header h1,
.vorlesungen-header h2 {
    margin: 0;
    padding: 10px 0;
}

.vorlesungen-header {
    border-bottom: 1px solid #ccc;
}

header h1,
.vorlesungen-header h2 {
    margin: 0;
    padding: 10px 0;
}

.vorlesungen-header {
    border-bottom: 1px solid #ccc;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

.card {
    padding: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.kurs-liste {
    color: #000000;
}

@media (min-width: 900px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}